<template>
   <div >
    <v-row justify="center" >
    <v-col
      cols="12"
      sm="10"
      md="6"
      lg="8"
    > 
      <v-card>
          <div class="bgcard">
              <div>
                <h1 class="text-center">Item in Cart</h1>
              </div>
              <div class="container">
                <v-data-table :headers="headers" :items="carts" :search="search" class="container">
                <template v-slot:[`item.actions`]="{item}">
                <v-btn small color="primary" class="mr-2" @click="editHandler(item)">
                  edit
                </v-btn>
                <v-btn small color="error" class="mr-2" @click="deleteHandler(item.id)">
                  delete
                </v-btn>
                </template>
                </v-data-table>
              </div>
              <v-row class="container">
                <v-col></v-col>
                <v-col md="3" >
                  <v-card outlined tile class="pa-1 card" >
                   <v-text-field solo label="Total" v-model=total_harga readonly>
                     
                   </v-text-field>
                   </v-card>
                </v-col>
                <v-col lg="2">
                  <v-card outlined tile class="pa-2 card2" >
                  <v-btn color="success" class="mr-2" @click="dialogPay = true">
                  Pay
                </v-btn>
                  </v-card>
                </v-col>
              </v-row>
              
        </div>
      </v-card>
    </v-col>
  </v-row>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Form Todo</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-text-field
              v-model="form.nama_produk"
              label="Nama Produk"
              readonly
              required
            ></v-text-field>

           <v-text-field
              v-model="form.harga"
              label="Harga"
              readonly
              required
            ></v-text-field>

            <v-text-field
              v-model="form.jumlah"
              label="Jumlah"
              required
            ></v-text-field>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="cancell">
            Cancel
          </v-btn>
          <v-btn color="blue darken-1" text @click="setForm">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="headline">Yakin ingin menghapus Item ini</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="cancel">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="deleteData">OK</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogPay" max-width="500px">
      <v-card>
        <v-card-title class="headline">Yakin Ingin membayar Item ini?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="cancelll">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="beli">OK</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<style>
.bgcard{
    background: #FF9F66;
}
.center {
  display: block;
  text-align: center;
}
.clearfix {
  overflow: auto;
}
.text{
  text-align: center;
}
.btnedit{
    padding: 34px;
    margin: auto;
}
.card{
    max-height: 68%;
}
.card2{
    max-height: 70%;
    max-width: 67%;
}
</style>
<script>
export default {
  name: "cart",
  data(){
    return{
      dialog: false,
      inputType: 'Tambah',
      dialogDelete: false,
      dialogPay: false,
      headers: [
      { text: "Nama produk",
      align: "start",
      sortable: true,
      value: "nama_produk" },
      { text: "Harga", value: "harga" },
      { text: "Jumlah", value: "jumlah" },
      { text: "Total", value: "total" },
      { text: "Actions", value: "actions" },
      ],
      form: {
        nama_produk: null,
        harga:null,
        jumlah:null,
        total:null,
      },
      carts:[],
      cart: new FormData,
      editId: 0,
      load:false,
      color:'',
      snackbar: false,
      error_message:'',
      deleteId: '',
      total_harga:0, 
    };
  },
  methods: {
    setForm() {
        if (this.inputType === 'Tambah') {
          this.save()
        } else {
          this.updateData()
        }
      },
    cancel() {
      this.resetForm();
      this.dialogDelete = false;
      
    },
    cancelll(){
      this.resetForm();
      this.dialogPay = false;
    },
    cancell() {
      this.resetForm();
      this.dialog = false;
    },
    resetForm() {
      this.form = {
        nama_produk: null,
        harga:null,
        jumlah:null,
        total:null,
      };
    },
    //read data product
      readData() {
        var url = this.$api + '/cart/' + localStorage.getItem('id')
        this.$http.get(url, { 
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
          }
        }).then(response => {
          this.carts = response.data.data
        })
        var url1 = this.$api + '/cartTotal/' + localStorage.getItem('id')
        this.$http.get(url1,
        {
            headers:{
                'Authorization': 'Bearer ' + localStorage.getItem('token')
            },
        }).then(response =>
        {
            this.total_harga = response.data.data.total_barang
        })
      },
    updateData() {
        let newData = {
          nama_produk: this.form.nama_produk,
          harga: this.form.harga,
          jumlah: this.form.jumlah
        }
      var url = this.$api + '/cart/' + this.editId;
      this.load = true
      this.$http.put(url, newData, {
            headers: {
              'Authorization': 'Bearer ' + localStorage.getItem('token')
            }
          }).then(response => {
            this.error_message=response.data.message;
            this.color="green"
            this.snackbar=true;
            this.load = false;
            this.close();
            this.readData(); //mengambil data
            this.resetForm();
            this.inputType = 'Tambah';
          }).catch(error => {
            this.error_message=error.response.data.message;
            this.color="red"
            this.snackbar=true;
            this.load = false;
          })
      },
      save() {
        this.cart.append('jumlah', this.form.jumlah);
        var url = this.$api + '/cart/' 
        this.load = true
        this.$http.post(url, this.cart, {
          headers: {
              'Authorization': 'Bearer ' + localStorage.getItem('token')
            }
          }).then(response => {
            this.error_message=response.data.message;
            this.color="green";
            this.snackbar=true;
            this.load = false;
            this.close();
            this.readData(); //mengambil data
            this.resetForm();
          }).catch(error => {
            this.error_message=error.response.data.message;
            this.color="red";
            this.snackbar=true;
            this.load = false;
          })
      },
      deleteData() {
        //mengahapus data
          var url = this.$api + '/cart/' + this.deleteId;
        //data dihapus berdasarkan id
          this.$http.delete(url, {
            headers: {
              'Authorization': 'Bearer ' + localStorage.getItem('token')
            }
        }).then(response => {
          this.error_message=response.data.message;
          this.color="green"
          this.snackbar=true;
          this.load = false;
          this.close();
          this.readData(); //mengambil data
          this.resetForm();
          this.inputType = 'Tambah';
          this.dialogDelete= false;
        }).catch(error => {
          this.error_message=error.response.data.message;
          this.color="red"
          this.snackbar=true;
          this.load = false;
        })
      },
      deleteHandler(id){
        this.deleteId = id;
        this.dialogDelete = true;
      },
      editHandler(item){
        this.inputType = 'Ubah';
        this.editId = item.id;
        this.form.nama_produk = item.nama_produk;
        this.form.jumlah = item.jumlah;
        this.form.harga = item.harga;
        this.dialog = true;
      },
       close() {
        this.dialog = false
        this.inputType = 'Tambah';
      },
      formatPrice(value) {
        let val = (value/1).toFixed(0).replace(',', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      },
      beli(){
        var url = this.$api + '/cartBeli/' + localStorage.getItem('id')
        this.$http.get(url, { 
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
          }
        }).then(response => {
          this.error_message = response.data.message;
            this.dialogPay = false;
            this.$router.push({
                        name: 'Home' 
            });
        })
      }
  },
  computed: {
      formTitle() {
        return this.inputType
        },
      },
      mounted() {
            this.readData();
      },
};
</script>