<template>
    <main class="bg">
          <v-layout class="mt-7">
              <v-toolbar flat height="94px" class="Navbar">
                <v-toolbar-text class="ml-16" >
                  <img src="../img/Logo Nuso Big.png" width="141" height="135" /> 
                </v-toolbar-text>
                <v-spacer></v-spacer>
                <v-toolbar-items class="mt-8 mr-16">
                  <v-div class="container">
                    <v-btn color="rounded-xl primary" @click="dialogRegister = true">
                    Register
                    </v-btn>
                    <v-btn color="success" class="rounded-xl ml-4" @click="dialogLogin = true">
                      Login
                    </v-btn>
                  </v-div>
                </v-toolbar-items>
              </v-toolbar>
          </v-layout>

          <v-dialog v-model="dialogRegister" persistent max-width="400px">
            <v-card>
              <div class="bgcard">
                <div class="container">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-9">
                      <h1 class="textR">Register</h1>
                      </div>
                      <v-spacer></v-spacer>
                        <div class="col-lg-3">
                          <v-btn
                          class="mx-2"
                          fab
                          dark color="black" @click="cancel"
                          >
                          <v-icon dark>
                            mdi-close
                          </v-icon>
                        </v-btn>
                        </div>
                    </div>
                  </div>
                </div>
                <v-card-text class="container mb-0" v-model="valid" ref="form">
                        <h2 class="text-center mb-1">Full Name</h2>
                        <v-text-field
                            label="Full Name"
                            v-model = "name"
                            required
                            :rules="requiredRules"
                            solo
                        ></v-text-field>
                        <h2 class="text-center mb-1">Username</h2>
                        <v-text-field
                            label="Username"
                            v-model = "username"
                            required
                            :rules="requiredRules"
                            solo
                        ></v-text-field>
                        <h2 class="text-center mb-1">Password</h2>
                        <v-text-field
                            label="Password"
                            v-model = "password"
                            required
                            :rules="requiredRules"
                            solo
                        ></v-text-field>
                        <h2 class="text-center mb-1">Email</h2>
                        <v-text-field
                            label="Email"
                            v-model="email"
                            :rules="emailRules"
                            required
                            type="email"
                            solo
                        ></v-text-field>
                        <h2 class="text-center mb-1">Phone Number</h2>
                        <v-text-field
                            label="Phone Number"
                            v-model = "notelp"
                            required
                            :rules="requiredRules"
                            solo
                        ></v-text-field>
                        <h2 class="text-center mb-1">Address</h2>
                        <v-text-field
                            label="Address"
                            v-model = "alamat"
                            required
                            :rules="requiredRules"
                            solo
                        ></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    color="primary"
                    class="btnedit mb-8"
                    @click="register"
                  >
                    Register
                  </v-btn>
                </v-card-actions>
              </div>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogLogin" persistent max-width="400px">
            <v-card>
              <div class="bgcard">
                <div class="container">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-9">
                      <h1 class="text">Login</h1>
                      </div>
                      <v-spacer></v-spacer>
                        <div class="col-lg-3">
                          <v-btn
                          class="mx-2"
                          fab
                          dark color="black" @click="cancelL"
                          >
                          <v-icon dark>
                            mdi-close
                          </v-icon>
                        </v-btn>
                        </div>
                    </div>
                  </div>
                </div>
                <v-card-text>
                        <h2 class="text-center mb-2">Username</h2>
                        <v-text-field
                            label="Username"
                            v-model = "username"
                            required
                            :rules="requiredRules"
                            solo
                        ></v-text-field>
                        <h2 class="text-center mb-2">Password</h2>
                        <v-text-field
                            label="Password"
                             v-model = "password"
                            required
                            :rules="requiredRules"
                            solo
                        ></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    color="primary"
                    class="btnedit mb-8"
                    @click="login"
                  >
                    Login
                  </v-btn>
                </v-card-actions>
              </div>
              </v-card>
            </v-dialog>
    </main>
 </template>

<style >
      .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image : url("../img/Dashboard Background.jpg");
        background-size: cover;
        transform: scale(1.1);
        
      }
      .bgcard{
        background: #FF9F66;
      }
      .text{
        margin-left: 54%;
      }
      .textR{
        margin-left: 46%;
      }
      .btnedit{
          padding: 34px;
          margin: auto;
      }
 </style>

 <script>
export default{
  name: "Dashboard",
  data(){
    return{
      dialogRegister:false,
      dialogLogin:false,
      load:false,
      snackbar:false,
      error_message:'',
      color:'',
      valid:false,
      name:'',
      username:'',
      password:'',
      email:'',
      notelp:'',
      alamat:'',
      requiredRules: [
                (v) => !!v || 'Field tidak boleh kosong !',
      ],
    };
  },
  methods:{
    register(){
        this.load = true;
                this.$http.post(this.$api + '/register', {
                    name : this.name,
                    username : this.username,
                    password: this.password,
                    email : this.email,
                    notelp: this.notelp,
                    alamat: this.alamat,
                }).then(response => {
                    console.log(response);
                    this.error_message = response.data.message;
                    this.color = "green";
                    this.snackbar = true;
                    this.load = false;
                    this.cancel();
                    
                }).catch(error => {
                    console.log(error);
                    this.error_message = error.response.data.message;
                    this.color = "red";
                    this.snackbar = true;
                    this.load = false;
                })
  },
   cancel() {
        this.resetForm();
        this.dialogRegister = false;
      },
    cancelL() {
        this.dialogLogin = false;
    },
    resetForm() {
        this.form = {
        name: null,
        username: null,
        password: null,
        email: null,
        notelp: null,
        alamat: null,
        };
      },
    login() {
                this.load = true;
                this.$http.post(this.$api + '/login', {
                    username : this.username,
                    password: this.password,
                }).then(response => {
                    localStorage.setItem('id', response.data.user.id);
                    localStorage.setItem('token',response.data.access_token);
                    this.error_message = response.data.message;
                    this.color = "green";
                    this.snackbar = true;
                    this.load = false;
                    this.cancelL;
                    if(response.data.user.email == "admin@admin.com")
                    {
                      this.$router.push({
                        name: 'Admin' 
                      });
                    }
                    else{
                      this.$router.push({
                            name: 'Home',
                      });
                    } 
                }).catch(error => {
                    this.error_message = error.response.data.message;
                    this.color = "red";
                    this.snackbar = true;
                    this.load = false;
                    localStorage.removeItem('token');
                })
            }
        },  
};
   </script>

 



