<template>
  <div >
     <div class="homeimg">
        <img src="../img/Home-Text.png"/>
     </div>
  </div>
</template>
<style>
.homeimg{
    position: relative;
    text-align: center;
}
</style>