<template>
  <div >
    <div class="center mb-0" >
        <img src="../img/Logo Nuso Big.png" width="400" height="400"/>
    </div>
   
    <div class="container col-lg-3">
        <div >
        <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
            class="center"
            outlined
        ></v-text-field>
        </div>
    </div>
    <div class="container">
      <v-row class="fill-height overflow-auto" id="container" >
        <v-col md="3" v-for="(item, index) in barang" :key="index" :search="search"> 
            <v-card class="mx-auto" max-width="345" :header="item.nama_produk">
                <v-card-text>
                <h2 class="text-center mb-2">{{item.nama_produk}} </h2>
                
                <h3 class="text-center mb-2">Harga : {{item.harga}}</h3>
                <h4 class="text-center mb-2">Stok : {{item.stok}}</h4>
                </v-card-text>

                <v-card-actions>
                    <v-btn
                      class="mx-8"
                      fab @click="addwishlist(item)">
                      <img src="../img/Add Wishlist Items.png" width="100%" height="100%" >
                      </v-btn> 
                    <v-spacer></v-spacer>
                      <v-btn class="mr-3" color="success" @click="addcart(item)">
                      Add to Cart
                      </v-btn>   
                </v-card-actions>
            </v-card>
        </v-col>
        
    </v-row>
     <v-dialog v-model="dialog" persistent max-width="400px">
    <v-card>
          
        
        <v-card-actions>
          <v-btn
            color="error"
            class="btnedit mb-8"
            @click="dialog = false"
          >
            cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </div>
    
  </div>
  
</template>
<style>
.center {
  text-align: center;
}
</style>

<script>
    export default {
      name: "Register",
        data()  {
        return {
          dialog: false,
            loading:false,
            load:false,
             search: null,
             snackbar:false,
             cart: new FormData,
             wishlist: new FormData,
             color:'',
             error_message:'',
             id_user: '',
             id_item: '',
             note_produk: '',
           barang: [],
        }
      },
        

        methods: {
        readData() {
        var url = this.$api + '/product'
        this.$http.get(url, {
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
          }
        }).then(response => {
          this.barang = response.data.data
        })
      },
      addcart(item){
        this.cart.append('id_user', localStorage.getItem('id'));
        
        this.cart.append('id_item',item.id);

        this.cart.append('jumlah',1);
        
         var url = this.$api + '/cart'
        this.load = true
        this.$http.post(url, this.cart, {
        headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
        }
        }).then(response => {
            this.error_message=response.data.message;
            this.color="green";
            this.snackbar=true;
            this.load = false;
        }).catch(error=> {
            this.error_message=error.response.data.message;
            this.color="red";
            this.snackbar=true;
            this.load = false;
           
        })
      
      },
      addwishlist(item){
        this.wishlist.append('id_user', localStorage.getItem('id'));
        
        this.wishlist.append('id_item',item.id);

        this.wishlist.append('note_produk',item.note_produk);
        
         var url = this.$api + '/wishlist'
        this.load = true
        this.$http.post(url, this.wishlist, {
        headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
        }
        }).then(response => {
            this.error_message=response.data.message;
            this.color="green";
            this.snackbar=true;
            this.load = false;
        }).catch(error=> {
            this.error_message=error.response.data.message;
            this.color="red";
            this.snackbar=true;
            this.load = false;
           
        })
      
      }
    },
    
        mounted(){
            this.readData();
        },
    }
</script>