
<template>
  <div class="dashboard bg mt-4">
          <v-layout>
              <v-toolbar flat height="94px">
                <v-toolbar-text class="ml-16 ">
                  <img src="../img/Logo Nuso Big.png" width="141" height="135"/> 
                </v-toolbar-text>
                <v-spacer></v-spacer>
                <v-toolbar-items class="mt-8 mr-16">
                    <v-bottom-navigation
                      :value="value"
                      color="primary"
                    >
                      <v-btn href="/Home">
                        <span>Home</span>
                      </v-btn>
                      <v-btn href="/Profile">
                        <span>Profile</span>
                      </v-btn>
                      <v-btn href="/Items">
                        <span>Items</span>
                      </v-btn>

                      <v-btn href="/Wishlist">
                        <v-icon>mdi-heart</v-icon>
                      </v-btn>
                      <v-btn href="/Cart">
                        <v-icon>mdi-cart</v-icon>
                      </v-btn>
                      <v-btn href="/Dashboard">
                        <v-icon>mdi-logout</v-icon>
                      </v-btn>
                    </v-bottom-navigation>
                </v-toolbar-items>
              </v-toolbar>
          </v-layout>
      <div>
      <router-view></router-view>
      </div>  
  </div>
</template>
 <style>
      .bg {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image : url("../img/Background.png");
        background-size: cover;
      }
 </style>

<script>
  export default {
    name: "Dashboard",
  }
</script>
