<template>
  <div >
      <v-row justify="center" >
    <v-col
      cols="12"
      sm="10"
      md="4"
      lg="4"
    > 
      <v-card ref="form" >
          <div class="bgcard">
          <h1 class="text-center">Profile</h1>
          <div class="clearfix center" >
                <img src="../img/Profile.png" width="100" height="100"/>
          </div>
        <v-card-text>
                <h2 class="text-center mb-2">Full Name</h2>
                <v-text-field
                    label="Full Name"
                    v-model="name1"
                    required
                    readonly
                   
                    solo
                ></v-text-field>
                <h2 class="text-center mb-2">Email</h2>
                <v-text-field
                    label="Email"
                    v-model="email1"
                    required
                    readonly
                   
                    solo
                ></v-text-field>
                <h2 class="text-center mb-2">Phone Number</h2>
                <v-text-field
                    label="Phone Number"
                    v-model="notelp1"
                    required
                    readonly
                  
                    solo
                ></v-text-field>
                <h2 class="text-center mb-2">Address</h2>
                <v-text-field
                    label="Address"
                     v-model="alamat1"
                    required
                    readonly
                    solo
                ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="success"
            class="btnedit mb-8"
            @click="dialog = true"
          >
            Edit Profile
          </v-btn>
        </v-card-actions>
        </div>
      </v-card>
    </v-col>
  </v-row>
  <v-dialog v-model="dialog" persistent max-width="400px">
    <v-card ref="form" >
          <div class="bgcard">
          <h1 class="text-center">Profile</h1>
          <div class="clearfix center" >
                <img src="../img/Profile.png" width="100" height="100"/>
          </div>
        <v-card-text >
                <h2 class="text-center mb-2">Full Name</h2>
                <v-text-field
                    label="Full Name"
                     v-model="name"
                    required
                    :rules="requiredRules"
                    solo
                ></v-text-field>
                <h2 class="text-center mb-2">Email</h2>
                <v-text-field
                    label="Email"
                     v-model="email"
                    required
                    readonly
                    solo
                ></v-text-field>
                <h2 class="text-center mb-2">Phone Number</h2>
                <v-text-field
                    label="Phone Number"
                     v-model="notelp"
                    required
                    :rules="requiredRules"
                    solo
                ></v-text-field>
                <h2 class="text-center mb-2">Address</h2>
                <v-text-field
                    label="Address"
                     v-model="alamat"
                    required
                    :rules="requiredRules"
                    solo
                ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="error"
            class="btnedit mb-8"
            @click="dialog = false"
          >
            cancel
          </v-btn>
          <v-btn
            color="success"
            class="btnedit mb-8"
            @click="save"
          >
            Save
          </v-btn>
        </v-card-actions>
        </div>
      </v-card>
    </v-dialog>
  </div>

</template>
<style>
.bgcard{
    background: #FF9F66;
}
.center {
  display: block;
  text-align: center;
}
.clearfix {
  overflow: auto;
}
.form{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btnedit{
    padding: 34px;
    margin: auto;
}
</style>
<script>
    export default {
    name: "Register",
    data() {
       return {
         dialog:false,
            load:false,
            snackbar:false,
            error_message:'',
            color:'',
            valid:false,
            name:'',
            email:'',
            notelp:'',
            alamat:'',
            requiredRules: [
                (v) => !!v || 'Field tidak boleh kosong !',
            ],
        };
    },
     methods: {
        save() {
                this.load = true;
                this.$http.put(this.$api + '/user/'+localStorage.getItem('id'),{
                    name : this.name,
                    email : this.email,
                    notelp: this.notelp,
                    alamat: this.alamat,
                },
                {
                    headers: {
                        'Authorization' : 'Bearer ' + localStorage.getItem('token')
                    },  
                }).then(response => {
                    console.log(response);
                    this.error_message = response.data.message;
                    this.color = "green";
                    this.snackbar = true;
                    this.load = false;
                    this.loadData();
                    this.dialog=false;
                }).catch(error => {
                    console.log(error);
                    this.error_message = error.response.data.message;
                    this.color = "red";
                    this.snackbar = true;
                    this.load = false;
                })
            
        },
        loadData(){
            this.$http.get(this.$api + '/user/'+localStorage.getItem('id'),{
                headers: {
                        'Authorization' : 'Bearer ' + localStorage.getItem('token')
                    }, 
            })
            .then(response => {
                console.log(response);
                this.name = response.data.data.name;
                this.email = response.data.data.email;
                this.notelp = response.data.data.notelp;
                this.alamat = response.data.data.alamat;
                 this.name1 = response.data.data.name;
                this.email1 = response.data.data.email;
                this.notelp1 = response.data.data.notelp;
                this.alamat1 = response.data.data.alamat;
            })
            .catch(err => {
                this.error_message = err.response.data.message;
            })
        },
    },
    mounted() {
        this.loadData();
    }
};
</script>