<template>
   <div >
    <v-row justify="center" >
    <v-col
      cols="12"
      sm="10"
      md="6"
      lg="8"
    > 
      <v-card>
          <div class="bgcard">
              <div>
                <h1 class="text-center">Item in Wishlist</h1>
              </div>
              <div class="container">
                <v-data-table :headers="headers" :items="wishlists" :search="search" class="container">
                <template v-slot:[`item.actions`]="{item}">
                <v-btn small color="primary" class="mr-2" @click="editHandler(item)">
                  edit
                </v-btn>
                <v-btn small color="error" class="mr-2" @click="deleteHandler(item.id)">
                  delete
                </v-btn>
                </template>
                </v-data-table>
              </div>
              <v-row class="container">
              </v-row>
              
        </div>
      </v-card>
    </v-col>
  </v-row>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Form Edit Wishlist</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-text-field
              v-model="form.nama_produk"
              label="Nama Produk"
              readonly
              required
            ></v-text-field>

            <v-textarea
            v-model="form.note_produk"
            label="Note Produk"
            required
            ></v-textarea>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="cancell">
            Cancel
          </v-btn>
          <v-btn color="blue darken-1" text @click="setForm">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="headline">Yakin ingin menghapus Item ini</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="cancel">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="deleteData">OK</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<style>
.bgcard{
    background: #FF9F66;
}
.center {
  display: block;
  text-align: center;
}
.clearfix {
  overflow: auto;
}
.text{
  text-align: center;
}
.btnedit{
    padding: 34px;
    margin: auto;
}
.card{
    max-height: 68%;
}
.card2{
    max-height: 70%;
    max-width: 67%;
}
</style>
<script>
export default {
  name: "cart",
  data(){
    return{
      dialog: false,
      inputType: 'Tambah',
      dialogDelete: false,
      dialogPay: false,
      headers: [
      { text: "Nama produk",
      align: "start",
      sortable: true,
      value: "nama_produk" },
      { text: "Note Produk", value: "note_produk" },
      { text: "Actions", value: "actions" },
      ],
      form: {
        nama_produk: null,
        note_produk: null,
      },
      wishlists:[],
      wishlist: new FormData,
      editId: 0,
      load:false,
      color:'',
      snackbar: false,
      error_message:'',
      deleteId: '',
    };
  },
  methods: {
    setForm() {
        if (this.inputType === 'Tambah') {
          this.save()
        } else {
          this.updateData()
        }
      },
    cancel() {
      this.resetForm();
      this.dialogDelete = false;
      this.dialogPay = false;
    },
    cancell() {
      this.resetForm();
      this.dialog = false;
    },
    resetForm() {
      this.form = {
        nama_produk: null,
       note_produk: null,
      };
    },
    //read data product
      readData() {
        var url = this.$api + '/wishlist/' + localStorage.getItem('id')
        this.$http.get(url, { 
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
          }
        }).then(response => {
          this.wishlists = response.data.data
        })
      },
    updateData() {
        let newData = {
          nama_produk: this.form.nama_produk,
          note_produk: this.form.note_produk
        }
      var url = this.$api + '/wishlist/' + this.editId;
      this.load = true
      this.$http.put(url, newData, {
            headers: {
              'Authorization': 'Bearer ' + localStorage.getItem('token')
            }
          }).then(response => {
            this.error_message=response.data.message;
            this.color="green"
            this.snackbar=true;
            this.load = false;
            this.close();
            this.readData(); //mengambil data
            this.resetForm();
            this.inputType = 'Tambah';
          }).catch(error => {
            this.error_message=error.response.data.message;
            this.color="red"
            this.snackbar=true;
            this.load = false;
          })
      },
      save() {
        this.wishlist.append('note_produk', this.form.note_produk);
        var url = this.$api + '/wishlist/' 
        this.load = true
        this.$http.post(url, this.wishlist, {
          headers: {
              'Authorization': 'Bearer ' + localStorage.getItem('token')
            }
          }).then(response => {
            this.error_message=response.data.message;
            this.color="green";
            this.snackbar=true;
            this.load = false;
            this.close();
            this.readData(); //mengambil data
            this.resetForm();
          }).catch(error => {
            this.error_message=error.response.data.message;
            this.color="red";
            this.snackbar=true;
            this.load = false;
          })
      },
      deleteData() {
        //mengahapus data
          var url = this.$api + '/wishlist/' + this.deleteId;
        //data dihapus berdasarkan id
          this.$http.delete(url, {
            headers: {
              'Authorization': 'Bearer ' + localStorage.getItem('token')
            }
        }).then(response => {
          this.error_message=response.data.message;
          this.color="green"
          this.snackbar=true;
          this.load = false;
          this.close();
          this.readData(); //mengambil data
          this.resetForm();
          this.inputType = 'Tambah';
          this.dialogDelete= false;
        }).catch(error => {
          this.error_message=error.response.data.message;
          this.color="red"
          this.snackbar=true;
          this.load = false;
        })
      },
      deleteHandler(id){
        this.deleteId = id;
        this.dialogDelete = true;
      },
      editHandler(item){
        this.inputType = 'Ubah';
        this.editId = item.id;
        this.form.nama_produk = item.nama_produk;
        this.form.note_produk = item.note_produk;
        this.dialog = true;
      },
       close() {
        this.dialog = false
        this.inputType = 'Tambah';
      },
  },
  computed: {
      formTitle() {
        return this.inputType
        },
      },
      mounted() {
            this.readData();
      },
};
</script>